.project {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 300px;
  // box-sizing: border-box;
  // margin: 20px;
  background-color: rgb(241, 243, 241);
  margin-bottom: 5%;
  @media screen and (max-width: 800px) {
    width: 45%;
  }
  @media screen and (max-width: 500px) {
    width: 100%;
  }
}
