.topbar {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  .topbar-container {
    // background-color: rgb(199, 199, 199);
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
      font-size: 30px;
      color: black;
    }
    .menu {
      ul {
        display: flex;
        list-style: none;
        li {
          margin-right: 15px;
          font-size: 20px;
          cursor: pointer;
        }
      }
    }

    .social-icon {
      .fab {
        font-size: 20px;
        margin-right: 10px;
      }
    }
  }
}
